<h2 mat-dialog-title (click)="openDialog()">Add Product</h2>

<!-- <div mat-dialog-content>
  <form>

    <label>Name:</label>
    <input class="form-control mb-2"  name="name">

    <label>Category:</label>
    <input class="form-control mb-2"  name="category">

    <label>Price:</label>
    <input class="form-control mb-2" type="number"  name="price">

  </form>
</div> -->

<!-- <div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div> -->
