<div class="container mt-2">
   <div class="row justify-content-center ">
      <div class="col-md-4">
        <div class="card-show">
<h3 class="text-center p-4"> forgetpassword</h3>
<form  [formGroup]="formgroup" (ngSubmit)="SubmitForm()">
      <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
            <div class="text-danger" *ngIf="formgroup.get('email')?.touched || isSubmitted">
                <small *ngIf="formgroup.get('email')?.errors?.['required']">this field is required</small>  
            </div>
            </div>
          <div class="mb-3" >
            <label class="form-label">new password</label>
            <input type="text" class="form-control" formControlName="newpassword">
            <div class="text-danger" *ngIf="formgroup.get('newpassword')?.touched || isSubmitted && formgroup.get('newpassword')?.errors">
               <small *ngIf="formgroup.get('newpassword')?.errors?.['required'] ">This field is required</small>
               <small *ngIf="formgroup.get('newpassword')?.errors?.['pattern']">Password must contain uppercase, lowercase, number & special character</small>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">confirm password</label>
            <input type="text" class="form-control" formControlName="cnfpass">
            <div class="text-danger" *ngIf="formgroup.get('cnfpass')?.touched || isSubmitted && formgroup.get('cnfpass')?.errors">
              <small *ngIf="formgroup.get('cnfpass')?.errors?.['required']">this field is required</small>
              <small *ngIf="formgroup.get('cnfpass')?.errors?.['Mismatch']">Password does not match</small>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Reset</button>
</form>
        </div>
      </div>
   </div>
</div>
