<div class="container mt-4">
      <h3 class="text-center">Profile</h3>
      <form  [formGroup]="formgroup" (ngSubmit)="SubmitForm()">
            <div class="mb-4">
            <label class="form-label">Name</label>
            <input type="text" name="name" id="" class="form-control" formControlName="name">
            </div>
             
             <div class="mb-4">
            
            <input type="number" name="Phone" id="" class="form-control" formControlName="Phone">
            </div>
            <label class="form-label">Address</label>
             <div class="mb-4" formGroupName="address">
<label class="form-label">building_name</label>
             <input class="form-control" placeholder="Building"
           formControlName="building_name">
<label class="form-label">road_no</label>
    <input class="form-control" placeholder="Road No"
           formControlName="road_no">
<label class="form-label">city</label>
    <input class="form-control" placeholder="City"
           formControlName="city">
<label class="form-label">Phone number</label>
    <input class="form-control" placeholder="Pincode"
           formControlName="pincode">
<label class="form-label">State</label>
    <input class="form-control" placeholder="State"
           formControlName="state">
            </div>
            <button type="submit" class="btn btn-primary m-2">Update</button>
            <button type="button" class="btn btn-danger" (click)="Cancel()">Cancel</button>
      </form>
</div>
