<div class="container mt-4">
  <h2 class="text-center fw-bold mb-3">Add New Product</h2>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

    <!-- Name -->
    <div class="mb-3">
      <label class="form-label">Product Name</label>
      <input type="text" class="form-control" formControlName="name">
    </div>

    <!-- Category -->
    <div class="mb-3">
      <label class="form-label">Category</label>
      <input type="text" class="form-control" formControlName="category">
    </div>

    <!-- Status -->
    <div class="mb-3">
      <label class="form-label">Status</label>
      <select class="form-select" formControlName="status">
        <option value="">Select Status</option>
        <option value="available">Available</option>
        <option value="not_available">Not Available</option>
      </select>
    </div>

    <!-- Price -->
    <div class="mb-3">
      <label class="form-label">Price</label>
      <input type="number" class="form-control" formControlName="price">
    </div>

    <!-- Image Upload -->
    <div class="mb-3">
      <label class="form-label">Product Image</label>
      <input type="file" class="form-control" (change)="onFileSelect($event)">
    </div>

    <!-- Button -->
    <button class="btn btn-primary w-100 mt-3" type="submit" [disabled]="productForm.invalid">
      Add Product
    </button>

  </form>
</div>
