<div *ngIf="myorderproduct.length > 0; else noOrders" class="container mt-4">

  <div class="card mb-3 shadow-sm" *ngFor="let item of myorderproduct">
    <div class="row g-0 align-items-center p-3">

      <!-- Left Section -->
      <div class="col-md-3">
        <h6 class="mb-1">Order ID: {{ item.order_item_id}}</h6>
        <p class="mb-0 text-muted">Product: {{ item.product.name }}</p>
      </div>

      <!-- Middle Section -->
      <div class="col-md-3">
        <p class="mb-1">Quantity: {{ item.quantity }}</p>
        <p class="mb-0">Price: ₹{{ item.product.price }}</p>
      </div>
      <div class="col-md-3">
            <h4>Order Status: PENDING</h4>
      </div>
      <!-- Right Section -->
      <div class="col-md-3 text-end">
        <!-- <button class="btn btn-primary btn-sm me-2">View</button> -->
        <button class="btn btn-success btn-sm" (click)="Payment( item.order_item_id)">Proceed Payment</button>
      </div>

    </div>
  </div>

</div>

<ng-template #noOrders>
  <div class="text-center mt-4">
    <p class="text-muted fs-5">No orders found.</p>
  </div>
</ng-template>